name: "Energy Assistant"
description: "Enabling easy use of spot price data from Carnot in Home Assistant"
version: "1.0.46"
slug: "energy_assistant"
init: false
arch:
  - aarch64
  - amd64
  - armhf
options:
  carnot:
    region: "dk2"
    user: ""
    api_key: ""
  mqtt:
    server: "core-mosquitto"
    port: 1883
    user: ""
    pwd: ""
    client_id: "Energy Assistant"
    use_tls: false
  tariffs: 
    - startDate: 2022-10-01
      endDate: 2022-12-31
      periods:
        - startTime: 00:00:00
          endTime: 17:00:00
          fixedCost: 0
        - startTime: 17:00:00
          endTime: 20:00:00
          fixedCost: 0
        - startTime: 20:00:00
          endTime: 00:00:00
          fixedCost: 0
  vat: 0.25
  levels:
    medium: 2
    high: 3
  spans: []
schema:
  carnot:
    region: list(dk1|dk2)
    user: email
    api_key: str
  mqtt:
    server: str
    port: port
    user: str
    pwd: password
    client_id: str
    use_tls: bool
  tariffs: []
  levels:
    medium: int(0,1000)
    high: int(0,1000)
  spans:
    - title: str
      hours: int(1,168)
      max_hours_future: int(1,168)
      hours_of_day: str
