name: "Energy Planner"
description: "Putting carnot.dk to use."
version: "1.0.0"
slug: "energy_planner"
init: false
arch:
  - aarch64
  - amd64
  - armhf
options:
  user: ""
  api_key: ""
  lowest_spans: []
  highest_spans: []
schema:
  user: str
  api_key: int
  lowest_spans:
    - title: str
      hours: int
      max_hours_future: int
  highest_spans:
    - title: str
      hours: int
      max_hours_future: int