name: "Energy Planner"
description: "Putting carnot.dk to use."
version: "1.0.11"
slug: "energy_planner"
init: false
arch:
  - aarch64
  - amd64
  - armhf
options:
  carnot:
    region: "dk2"
    user: ""
    api_key: ""
  mqtt:
    server: "core-mosquitto"
    port: 1883
    user: ""
    pwd: ""
    client_id: "Energy Assistant"
    use_tls: false
  lowest_spans: []
schema:
  carnot:
    region: list(dk1|dk2)
    user: email
    api_key: str
  mqtt:
    server: str
    port: port
    user: str
    pwd: password
    client_id: str
    use_tls: bool
  lowest_spans:
    - title: str
      hours: int(1,168)
      max_hours_future: int(1,168)
      hours_of_day: str