name: "Energy Assistant"
description: "Enabling easy use of spot price data from Carnot in Home Assistant"
version: "2.0.0-alpha1"
slug: "energy_assistant"
init: false
arch:
  - aarch64
  - amd64
  - armhf
homeassistant_api: true
map:
  - config:rw