name: "Energy Assistant"
description: "Enabling easy use of spot price data from Carnot in Home Assistant"
version: "1.0.34"
slug: "energy_assistant"
init: false
arch:
  - aarch64
  - amd64
  - armhf
options:
  carnot:
    region: "dk2"
    user: ""
    api_key: ""
  mqtt:
    server: "core-mosquitto"
    port: 1883
    user: ""
    pwd: ""
    client_id: "Energy Assistant"
    use_tls: false
  additional_costs:
    fixed_cost: 0.024
    peak_tariff: 0.6307
    regular_tariff: 0.2363
    fee: 0.8
    vat: 0.25 
  levels:
    medium: 2
    high: 3
  spans: []
schema:
  carnot:
    region: list(dk1|dk2)
    user: email
    api_key: str
  mqtt:
    server: str
    port: port
    user: str
    pwd: password
    client_id: str
    use_tls: bool
  additional_costs:
    fixed_cost: float
    peak_tariff: float
    regular_tariff: float
    fee: float
    vat: float(0,1)
  levels:
    medium: int(0,1000)
    high: int(0,1000)
  spans:
    - title: str
      hours: int(1,168)
      max_hours_future: int(1,168)
      hours_of_day: str