name: "Energy Assistant"
description: "Assists with energy prices and cost savings on energy."
version: "2.0.0-alpha2"
slug: "energy_assistant"
url: "https://github.com/ulfendk/EnergyAssistant/blob/main/README.md"
init: false
arch:
  - aarch64
  - amd64
  - armhf
hassio_api: true
homeassistant_api: true
homeassistant_url: asdf
map:
  - config:rw
ingress: true

webui: "http://[HOST]:[PORT:8099]"
ports:
  "8099/tcp": 5999
panel_icon: mdi:chart-bar
panel_admin: false
watchdog: "http://[HOST]:[PORT:8099]"